<div>
    <md-content class="cardcontent"
                ng-hide="loading"
                layout-xs="column"
                layout="row"
                layout-wrap
                flex>
        <div ng-repeat="note in listnotes | filter:{ active : 1 }"
             layout-padding
             flex-xs="100"
             flex-gt-md='33'
             flex-gt-xs='50'
             layout="column"
             layout-align='top center'>

            <md-card
                    ng-class="
                {
                'whitecss': note.color == 1,
                'lightpink': note.color == 2,
                'palegreen': note.color == 3,
                'darkgray': note.color == 4
                }"
                    ng-mouseenter="showelement($event)"
                    ng-mouseleave="hideelement($event)">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{note.title}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>{{note.textnote}}</p>

                    <p>Belongs to user_id : {{note.user_id}}</p>
                </md-card-content>
                <notes-content></notes-content>
            </md-card>

        </div>
    </md-content>
</div>